<!doctype html>
<html>
<head>
<title>Bitcoin private key database</title>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<h1>Bitcoin private key database</h1>
<p>
  <strong>Note:</strong> This is an open-source clone of directory.io for my personal educational-purpose.<br/>
  <strong>Don't try to scrape/download this website. Download the source code and run it youself</strong><br/><br/>
  This website contains all the possible Bitcoin private key.<br/><br/>
  A private key it's just a number chosen randomly from a range,
  if this range (called key-space) is big enough it won't be possible 
  to list all the keys in feasible times.<br/><br/>
  Bitcoin private keys range from 1 to 115792089237316195423570985008687907852837564279074904382605163141518161494336<br/><br/>
  The key-space it's too big to index all the keys (<a href="http://redd.it/1rurll">http://redd.it/1rurll</a>), but you can however generate private keys on demand.<br/><br/>
  For this reason I have developed this on-demand database and also a Lottery that will take a random private key from the key-space and tell you if it has some bitcoin available. ;)<br/>
  <br/><br/>
  Take me to the <a href="/lottery">Lottery</a><br/>
  Take me to the <a href="/page">Database</a><br/>
  <br/>
  Original <a href="http://directory.io/faq">directory.io FAQ</a><br/>
</p>
<hr/>
<p>
<a href="https://github.com/TheZ3ro/bitcoin-privatekey-db">Source code</a><br/>
Donate BTC: 1EhJyJwzbp7v2ixPT4heM2caUsmWcX36mc<br/>
Monero: 47Yk8KgtYyaV2RvzJLQKuuMzhiZD5ktdbNzP6jxsjkdSKD8j81uLRCYXKLFVFtsCbLjbyamGBES58Mi4r8wHEGht8ofEVu7
</p>
</body>
</html>