<!doctype html>
<html>
<head>
<title>Private Key: {{private_key}}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<table>
  <tr>
    <td>Secret Exponent:</td>
    <td>{{ sec }}</td>
  </tr>
  <tr>
    <td>Private Key:</td>
    <td>{{ private_key }}</td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>{{ addr }}</td>
  </tr>
  <tr>
    <td>Compressed Address:</td>
    <td>{{ compressed_addr }}</td>
  </tr>
</table>
<hr/>
<p>
Return to the <a href="/">homepage</a> or <a href="javascript:window.history.back()">go back</a>
</p>
<p>
<a href="https://github.com/TheZ3ro/bitcoin-privatekey-db">Source code</a><br/>
Donate BTC: 1EhJyJwzbp7v2ixPT4heM2caUsmWcX36mc<br/>
Monero: 47Yk8KgtYyaV2RvzJLQKuuMzhiZD5ktdbNzP6jxsjkdSKD8j81uLRCYXKLFVFtsCbLjbyamGBES58Mi4r8wHEGht8ofEVu7
</p>
</body>
</html>